<div class="container">
    <img [src]="object?.imageUrl" [alt]="object?.name" class="object-image">

    <div class="row">
        <div class="col-md-11">
            <h2>{{object?.name}} </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div><strong>category:</strong> {{object?.category.name}}</div>
            <div><strong>description:</strong> {{object?.description}}</div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
